.text {
  margin-top: 1em;
}


.read-more {
  font-weight: 800;
  color: #9647d8; 
  text-decoration: underline; 
  cursor: pointer; /* Show a pointer cursor when hovering over the link */
  background: none; 
  border: none; 
  padding: 0; 
  display: flex;
  margin-top: 1.5em;
}

